<section class="faq">
	<div class="faq__container">
		<div class="tag">
			<p class="tag__text">faq</p>
		</div>
		<h3 class="default__title">Perguntas mais frequentes</h3>
		<div class="faq__content">
			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingOne">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseOne"
							aria-expanded="true"
							aria-controls="collapseOne"
						>
							Quais são as modalidades de serviços ofertados?
						</button>
					</h2>
					<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							A Transforma Saúde oferece diversas modalidades de serviços para atender às variadas necessidades de seus clientes. Nossas abordagens flexíveis
							garantem que possamos proporcionar soluções sob medida, adaptadas às demandas específicas de cada situação, que incluem:<br /><br />

							<b>Consultoria Presencial</b>: oferecemos consultoria diretamente nas instalações do cliente, permitindo interações pessoais e análises in loco
							para identificar áreas de melhoria;<br />
							<b>Consultoria a Distância</b>: utilizamos tecnologia para fornecer orientação e suporte remotos, permitindo que os clientes aproveitem nossa
							expertise de onde estiverem;<br />
							<b> Consultoria Híbrida</b>: combinamos abordagens presenciais e remotas para oferecer flexibilidade e eficácia, adaptando-nos às preferências e
							necessidades individuais.<br /><br />
							Além disso, a Transforma Saúde investe na capacitação de equipes, oferecendo treinamentos em diferentes modalidades: <br /><br />
							<b>Treinamentos Incompany</b>: desenvolvemos programas de treinamento personalizados para equipes, podendo acontecer dentro das próprias
							instalações da organização ou a distância, focando nas necessidades específicas de cada cliente;<br />
							<b>Treinamento Individual</b>: oferecemos treinamento personalizado para profissionais que desejam aprimorar suas habilidades de maneira
							individualizada;<br />
							<b>Treinamento a Distância</b>: disponibilizamos programas de treinamento online, em nossa plataforma EaD, permitindo que os participantes acessem
							conteúdo valioso de qualquer lugar.
						</div>
					</div>
				</div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingTwo">
						<button
							class="accordion-button collapsed"
							type="button"
							data-bs-toggle="collapse"
							data-bs-target="#collapseTwo"
							aria-expanded="false"
							aria-controls="collapseTwo"
						>
							Por que a Transforma Saúde tem o melhor custo-benefício?
						</button>
					</h2>
					<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							A Transforma Saúde oferece a melhor relação custo-benefício devido à especialização em gestão da saúde, foco na melhoria de processos e qualidade,
							agilidade na implementação, soluções personalizadas e retorno sobre o investimento.<br /><br />
							Nossa maior preocupação é com os resultados que a implantação do sistema de gestão da qualidade gera para os nossos clientes. Elaboramos os
							projetos pensando em custo, eficiência e prazo. <br /><br />Investir em consultoria é fazer um investimento estratégico que gera resultados,
							eficiência e excelência.<br /><br />
							Escolher a Transforma Saúde como parceira de consultoria representa um investimento que tem o potencial de gerar retornos substanciais, fazendo
							com que o custo-benefício seja mais do que justificado. Nossa meta é o sucesso dos nossos clientes!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
