<section class="resources">
	<div class="resources__container">
		<h2 class="default__title" data-aos="fade-down" data-aos-delay="300">Nossos serviços sob medida para a gestão do seu negócio.</h2>

		<div class="resources__content">
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/p-star.svg" alt="" /></div>
				<p class="default__desc">
					<b>EXPERIÊNCIA COMPROVADA</b>Já são mais de 10 anos no mercado de consultoria e cursos de capacitação, transformando a saúde de várias organizações
					como a sua.
				</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="400">
				<div class="card-resources__icon"><img src="./assets/grafico.svg" alt="" /></div>
				<p class="default__desc">
					<b>METODOLOGIA ÁGIL</b>Com saúde, não dá para perder tempo. Por isso, focamos no que realmente importa para maximizar seus resultados em tempo
					recorde.
				</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="500">
				<div class="card-resources__icon"><img src="./assets/icone-personalizado.svg" alt="" /></div>
				<p class="default__desc">
					<b>SERVIÇO PERSONALIZADO</b>Sabemos que cada cliente é único. Por isso, personalizamos nossos serviços para atender às necessidades específicas da sua
					organização.
				</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="500">
				<div class="card-resources__icon"><img src="./assets/icone-resultados.svg" alt="" /></div>
				<p class="default__desc">
					<b>RESULTADOS SÓLIDOS</b>Já são mais de 2000 profissionais da área da saúde capacitados e 100% de sucesso em auditorias realizadas pela nossa equipe.
				</p>
			</div>
		</div>
		<div class="button--container center" data-aos="fade-right" data-aos-delay="300"><a href="#" class="button bigger">TRANSFORME AGORA SUA GESTÃO</a></div>
	</div>
</section>
