<section class="testimonials">
	<div class="testimonials__container">
		<h3 class="default__title">Histórias de sucesso:</h3>
		<p class="default__desc">o que nossos clientes têm a dizer</p>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Eduardo Cezário</p>
						<p class="avatar__desc">Hospital Monte Sinai <br />- Juiz de Fora -MG</p>
					</div>
				</div>
				<p class="testimonials__card--text">
					Tivemos a oportunidade de conhecer o trabalho da Transforma Saúde em março/2020 onde fechamos um contrato de 6 meses para prestação de serviços de
					consultoria com foco no atendimento aos novos requisitos do manual da Acreditação (versão 2018), visando uma melhor preparação do Hospital Monte Sinai
					para a recertificação de Acreditado com Excelência (Nível 3). 
				</p>
			</div>
			<div class="testimonials__card">
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar-1.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Daniela Faustino</p>
						<p class="avatar__desc">AUSTA - SP</p>
					</div>
				</div>
				<p class="testimonials__card--text">
					Trabalhar com a Transforma Saúde tem sido uma experiência muito bacana junto ao AUSTA clínicas. Ela possui uma equipe multiprofissional e altamente
					capacitada para o processo de acreditação de operadoras de Saúde, o que tem proporcionado uma maior segurança aos nossos colaboradores para
					desenvolver as atividades necessárias e que atendam o escopo da RN 452. 
				</p>
			</div>
			<div class="testimonials__card">
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar-2.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Roberto Moreira</p>
						<p class="avatar__desc">Unimed Blumenau - SC</p>
					</div>
				</div>
				<p class="testimonials__card--text">
					Estou aqui para atestar a competência da Transforma Saúde no desenvolvimento do trabalho para gerar valor em saúde. Na prática, conseguimos mudar a
					visão das pessoas quanto à forma de gerir e também na maneira de entregar o produto "saúde". São profissionais com conhecimento de causa que conseguem
					unir a cadeia produtiva em um objetivo só que é deixar o cliente satisfeito.
				</p>
			</div>
			<div class="testimonials__card">
				<div class="avatar">
					<div class="avatar__img">
						<img src="./assets/avatar-3.png" alt="" />
					</div>
					<div class="avatar__infos">
						<p class="avatar__title">Maria Cristina</p>
						<p class="avatar__desc">Unimed Região da Fronteira - RS</p>
					</div>
				</div>
				<p class="testimonials__card--text">
					A equipe da Transforma Saúde tem foco, determinação e conhecimento. A Unimed Região da Fronteira tem uma experiência muito positiva e produtiva com
					esse trabalho em conjunto. Desejamos que essa equipe continue nessa caminhada acrescentando valor humano e material nos seus objetivos.    
				</p>
			</div>
		</div>
	</div>
</section>
